<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/HomeStyle.css">
    <title>Home</title>
</head>
<body>
    <h2>Welcome, <%= user.email %></h2>
    <div>
    <a href="/explore">Explore Pizzas</a>
    <a href="/myorders">My Orders</a>
    </div>

    <h3>Admin Section</h3>
    <div>
        <a href="/dashboard">Go to Admin Dashboard</a>
    </div>
</body>
</html>
